

 <!DOCTYPE html>
<html style="height:100%;overflow: initial;"  ng:app="applications" ng:controller="attendee-controller" ng:controller="preview_players"><!--  -->
  <head>

    <meta charset="utf-8">
    <title></title>

    <!-- Styles -->
    <!--
    ==========================>>>>>> Public
    -->
    <link href="{{ server_ip }}ext/frameworks/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ server_ip }}ext/frameworks/css/hover.css" rel="stylesheet">

    <link href="{{ server_ip }}ext/frameworks/css/font-awesome.css" rel="stylesheet">
    <link href="{{ server_ip }}ext/frameworks/css/animate.css" rel="stylesheet">
    <link href="{{ server_ip }}ext/frameworks/css/swiper.css" rel="stylesheet">
    <link href="{{ server_ip }}ext/frameworks/css/spectrum.css" rel="stylesheet">


    <!--  >>>>> Custom css -->
      <link rel="stylesheet" href="{{ server_ip }}ext/css/default-player.css">
      <link rel="stylesheet" href="{{ server_ip }}ext/css/default-themes.css">
      <link rel="stylesheet" id="stylesheet-editor-css">




    <!-- scripts -->
    <!--
    ==========================>>>>>> Public
    -->
    <script src="{{ server_ip }}ext/frameworks/js/jquery.min.js" charset="utf-8"></script>
    <script src="{{ server_ip }}ext/frameworks/js/bootstrap.min.js"></script>
    <script src="{{ server_ip }}ext/frameworks/js/angular.min.js"></script>
    <script src="{{ server_ip }}ext/frameworks/js/spectrum.js"></script>

  </head>
  <body style="height:100% ;overflow: initial;">

    <!-- User Id -->
    <input type="hidden" id="server_ip" name="" value="{{server_ip}}">
    <input type="hidden" id="user_id" name="" value="{{user.id}}">
    <input type="hidden" id="app-id" name="" value="{{myApps._id}}">





  <!-- <link href="" rel="stylesheet"> -->

 <!--
   =============================================================================
   ========================>>> Stylesheet !
   =============================================================================
  -->
<link id="stylesheet_link"  rel="stylesheet"></link>
  <!-- <<<<<<< HEAD -->
 <style media="screen">
    html , body {
      overflow: hidden;
    }
 </style>


 <!--
 =============================================================================
 ========================>>> Preview Work !
 =============================================================================
-->
<div class="player-body-block player-body-screen"></div>
<div ng:controller="preview_players" class="player-block">

 

<!--   ng:controller="preview_players"  -->
<div class="preview_player_container-cont-selected player_opg_editor player-block" >
  <div id="preview_player_container" class="container-fluid-x preview_player_container">

   <!-- <input id="cross_iframe_qs_index_value" type="hidden" id="the-target-slide-index" name="" value="1" /> -->
   <!-- <button style="display:none;" id="cross_iframe_qs_index_button" ng:click="slide_to_question_cross_iframe()" type="button" name="button">Go To INDEX </button> -->

   <!-- <div ng:include="'/head-models/model-2.hbs'"> </div> -->

   <div ng:include="loading_target_header"></div>
   <!-- <div ng:include="'/head-models/model-2.hbs'"> </div> -->

      <div class="clearFix"></div>
      <!-- ++++++++++++++++++++++++++ -->
      <!--  Slide containers  -->
      <!-- ++++++++++++++++++++++++++ -->
      <div class="swiper-container">
        <div class="swiper-wrapper quiz-contents">
            <!-- Screen Slider -->
            <div class="swiper-slide welcoming-screen-x">
                <div data-selected-block="question-slide" ng:class="load_quiz_status_theme()" class="container screen-container screen-ending-starting screen_opg_editor welcome-screen select_box_brd welcome-screen-block box-welcome-screen">
                  <div>

                      <div class="description-body redactor-styles select_texts welcome-screen-text-block welcome-screen-text"  ng:mouseover="show_hovred_element('select_texts')" ng:bind:html="__player_object.settings.titles.title_start_with | trust_this_html_values"></div>
                      <div class="qusu-details text-right">
                        <button ng:click="back_to_editor_mode()" class="button-take-this select_button welcome-screen-button-block welcome-screen-button" type="button" name="button" ng:cloak>
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            {> __player_object.settings.label_btns.lbl_back_with <}
                        </button>
                        <button ng:click="start_this_quiz()" class="button-take-this select_button welcome-screen-button-block welcome-screen-button" type="button" name="button" ng:cloak>
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            {> __player_object.settings.label_btns.lbl_start_with <}
                        </button>
                      </div>
                  </div>
                </div>
            </div>
            <!-- End Screen Slider -->
            <!-- Start Questions -->
            <div class="swiper-slide" data:ng:repeat="(obj_key , obj_val) in __player_object.questions">
               <div data-selected-block ="question-slide" class="container screen-container survey-player-questions question_typeco_object question_opg_editor_block select_box_brd question-screen-block question-screen-box">
                 <!-- Question Container -->
                 <div class="question-container">
                   <div class="question-body load_qs_theme question_opg_editor select_box_brd question-box-block question-box-text">
                      <span class="label-question default_theme_texts_bg select_box_brd question-label-block question-label-box">
                        <!-- <span class="qs-icons">
                            <i ng:if="obj_val.question_type == 0" class="icon-insert-template iconx-x"></i>
                            <i ng:if="obj_val.question_type == 1" class="icon-image iconx-x"></i>
                            <i ng:if="obj_val.question_type == 2" class="iconx-x fa fa-star-o"></i>
                            <i ng:if="obj_val.question_type == 3" class="iconx-x fa" ng:class="(obj_val.answers_format[0].ratscal_type == 0) ? 'fa-signal' :'fa-star-o' "></i>
                            <i ng:if="obj_val.question_type == 4" class="iconx-x fa fa-text-width"></i>
                        </span> -->
                        <span ng:if="__player_object.settings.indexes.questions == 0 " class="qs-numericals select_numbers" ng:cloak>{> question_indexes.numberical[$index] <}</span>
                        <span ng:if="__player_object.settings.indexes.questions == 1 " class="qs-numericals select_numbers" ng:cloak>{> question_indexes.alphabetical[$index] | uppercase <}</span>
                        <div class="arrow-right default_theme_brd select_box_brd  question-label-box-brd"></div>
                      </span>
                      <span data:ng:bind:html="obj_val.question_body | trust_this_html_values" class="question-body-text select_texts" ng:mouseover="show_hovred_element('select_texts')"></span>
                      <p ng:if="obj_val.question_description != null || obj_val.question_description != undefined" class="dsc-data" data:ng:bind:html="obj_val.question_description.value | trust_this_html_values"></p>
                      <span class="required_option question_type__colr select_texts question-text-required-block question-text-required-text" ng:mouseover="show_hovred_element('select_texts')" ng:if="obj_val.answer_settings.is_required == true"> Required </span>
                   </div>
                   <div ng:if="(obj_val.question_type == 0 || obj_val.question_type == 1 ) && obj_val.answer_settings.single_choice == false" class="notes select_box_brd question-warnning-block question-warnning-box" >
                       <span class="question_type__colr select_texts" ng:mouseover="show_hovred_element('select_texts')"> There're many correct choices , You've to select them  to pass this question </span>
                   </div>
                   <div data:ng:if="obj_val.media_question != null" class="question-media" ng:class="(obj_val.answer_settings.super_size)? 'super-size':''">
                      <!-- Case : image type  -->
                      <div data:ng:if="obj_val.media_question.media_type == 0" class="image-media-case img-cases select_brd" ng:style="set_image_background(obj_val.media_question.media_field)"></div>
                      <!-- <div data:ng:if="obj_val.media_question.media_type == 0" class="image-media-case img-cases" style="background-image:url('{> server_ip + obj_val.media_question.media_field <}');"></div> -->
                      <!-- Case : Video type -->
                      <div data:ng:if="obj_val.media_question.media_type == 1" class="video-media-case select_brd" data:ng:bind:html="obj_val.media_question | set_iframe"></div>
                   </div>
                 </div>
                 <!-- End Question Container -->

                 <!-- Answer container -->
                  <div class="answer-container answer-block-selector">
                        <!-- data:ng:class="(obj_val.answer_settings.choice_style)?'ng_inline_block':'ng_block'" -->
                            <!-- Quiz Questions answer-block-selector -->
                            <ul id="question_{>obj_val._id<}" ng:class="load_case_many_answer_option(obj_val.question_type , obj_val.answer_settings.single_choice)" class="question-list question-list-preview-quta" ng:if="obj_val.question_type <= 2" ng:cloak> <!-- Question id , answer id  -->
                              <li
                                class="answer_{>answer_value._id<} answer_opg_editor select_box_brd question-answer-row-select-blk question-answer-row-select"
                                data:ng:class="classes_for_this_answer(obj_val.answer_settings , obj_val._id , answer_value._id)"
                                data:ng:click="select_this_answer(obj_val._id , answer_value._id , obj_val , answer_value , __player_object._id , '{{user.id}}' , answer_value.is_correct , $index)"
                                data:ng:repeat="(anskey , answer_value) in obj_val.answers_format">

                                 <!-- Cases with question type-->
                                   <!-- Case it 0 => Text choices -->
                                   <span box-target-type="box-labels" box-target-class="answer_label"  class="answer_label selector">{> question_labels['label_' + __player_object.settings.indexes.answers.toString()][$index] | uppercase <}</span>
                                   <!-- Answer Media  -->
                                   <!-- answer media for 0 -->
                                   <div ng:if="answer_value.media_optional != undefined && obj_val.question_type == 0" class="media-data-answer">
                                     <!-- Case it Image -->
                                     <img style="    width: 100%;     margin-bottom: 10px;" ng:if=" answer_value.media_optional != undefined &&  answer_value.media_optional.media_type ==0" ng:src="{>answer_value.media_optional.Media_directory + '?' + answer_value.media_optional.image_updated_date <}" class="image-responsive" alt="Image">
                                     <!-- Case it video  -->
                                     <div ng:if="answer_value.media_optional != undefined && answer_value.media_optional.media_type ==1" class="video_case text-center">
                                        <!-- Case video iframes => youtube/ vimeo -->
                                        <iframe class="iframe-selector" ng:if="(answer_value.media_optional.video_type == 0 || answer_value.media_optional.video_type == 1 )" ng:src="{> answer_value.media_optional.embed_path | trust_iframe_url <}" width="100%" height="120px"></iframe>
                                        <!-- Case video tags => html mp4 video -->
                                        <video ng:if="answer_value.media_optional.video_type == 2 " width="100%" height="120px" controls>
                                            <source ng:if="answer_value.media_optional.mp4_option != undefined" ng:src="{>answer_value.media_optional.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                                            <source ng:if="answer_value.media_optional.mp4_option != undefined" ng:src="{>answer_value.media_optional.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
                                        </video>
                                     </div>
                                   </div>
                                   <!-- answer media for 1 -->
                                   <div ng:if="obj_val.question_type == 1" class="media-data-answer" style="margin-top:10px; margin-bottom:10px;">
                                     <!-- Case There is not any media  -->
                                     <div ng:if='answer_value.media_type == undefined' class="not-media-there">
                                        <img ng:src="{> server_ip + 'img/media-default-icone.jpg'<}" class="image-responsive" alt="Image" >
                                     </div>
                                     <!-- Case it Image -->
                                     <img style="    width: 100%;     margin-bottom: 10px;"  ng:if="answer_value.Media_directory != undefined && answer_value.media_type == 0" ng:src="{>answer_value.Media_directory + '?' + answer_value.image_updated_date <}" alt="Image"  class="image-responsive">
                                     <!-- Case it video  -->
                                     <div ng:if="answer_value.embed_path != undefined && answer_value.media_type ==1" class="video_case text-center">
                                        <!-- Case video iframes => youtube/ vimeo -->
                                        <iframe class="iframe-selector" ng:if="(answer_value.video_type == 0 || answer_value.video_type == 1 )" ng:src="{> answer_value.embed_path | trust_iframe_url <}" width="100%" height="120px"></iframe>
                                        <!-- Case video tags => html mp4 video -->
                                        <video ng:if="answer_value.video_type == 2 " class="video-mp4" controls>
                                            <source ng:if="answer_value.mp4_option != undefined" ng:src="{>answer_value.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                                            <source ng:if="answer_value.mp4_option != undefined" ng:src="{>answer_value.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
                                        </video>
                                     </div>
                                   </div>
                                    <!-- Answer Texts  -->
                                    <div ng:if="obj_val.question_type == 0" class="answer-texts answer_txt_val">
                                      <span class="answer_text">{> answer_value.value <}</span>
                                    </div>
                                    <!-- Case Boolean questions -->
                                    <div class="answer_txt_val" ng:if="obj_val.question_type == 2">
                                      <span class="answer_text">{> answer_value.boolean_value <}</span>
                                    </div>

                                    <span class="iconxs-correct-answers fa fa-times wrong-ico"></span>
                                    <span class="iconxs-correct-answers fa fa-check correct-ico"></span>

                                </li>
                            </ul>

                            <!-- New Questions for survey -->
                            <!-- question_type > 2 -->
                            <!-- Case it 3 => scale rating -->
                            <!-- Case it 4 => Free texts -->

                        <div class="answer-container survey-block" ng:if="obj_val.question_type >= 3">
                            <div ng:if="(obj_val.question_type == 3) && (obj_val.answers_format[0].ratscal_type == 0)" class="block-of-scale">
                               <div class="survey-answer">
                                 <div class="">
                                   <center>
                                     <div class="scale-optn" ng:if="obj_val.answers_format[0].ratscal_type == 0 ">
                                       <ul ng:init="rating_scale_elements" class="scalet-o ul_scal_{>obj_val._id<}" ng:cloak >
                                         <li data-index='0' ng:repeat="(key_ , val_) in obj_val.answers_format[0].rating_scale_answers track by $index"> <!-- index , class_name , answer_id , question_id , rs_type -->
                                           <span class="scale_value_{>obj_val.answers_format[0]._id<}" ng:click="select_this_rating_value( $index , 'scale_value_'+obj_val.answers_format[0]._id  , obj_val.answers_format[0]._id , obj_val._id , obj_val.answers_format[0].ratscal_type )" ng:cloak>
                                               {> $index + 1 <}
                                           </span>
                                         </li>
                                       </ul>
                                       <div class="clearFix"></div>
                                        <div class="block-labels text-center"  ng:show="obj_val.answers_format[0].show_labels == true">
                                          <span class="first-lbl" ng:cloak>
                                            {>obj_val.answers_format[0].started_at <}
                                          </span>
                                          <span class="second-lbl" ng:cloak>
                                            {>obj_val.answers_format[0].centered_at <}
                                          </span>
                                          <span class="third-lbl" ng:cloak>
                                            {>obj_val.answers_format[0].ended_at <}
                                          </span>
                                        </div>
                                     </div>
                                   </center>
                                 </div>
                               </div>
                            </div>

                            <div ng:if="(obj_val.question_type == 3) && (obj_val.answers_format[0].ratscal_type == 1)" class="block-of-ratings">
                              <!-- Ratings  -->
                              <ul class="start-o rating_scale_block">
                                <!--  Ratings  -->
                                <li data-index='0' ng:repeat="(ratingscale_keys , ratingscale_vale) in obj_val.answers_format[0].rating_scale_answers track by $index">
                                  <span ng:click="select_rating_scale__($index , 1 , obj_val._id , obj_val.answers_format[0]._id , obj_val.question_type )" href="#">
                                      <i class="fa fa-star-o"></i>
                                  </span>
                                </li>
                              </ul>
                            </div>



                            <div ng:if="obj_val.question_type == 4" class="block-of-fre-txts">
                              <!-- Case it 4 => Free texts -->
                              <textarea ng:change="free_texts_question_type_changes(obj_val._id , obj_val)" ng:model="obj_val.answers_format[0].free_text_value" class="free-text-values" placeholder="Write your answer here !"></textarea>
                            </div>

                        </div>
                  </div>
                  <!-- End Answer container -->
                  <div ng:if="__player_object.settings.auto_slide == true && obj_val.question_type <= 2 && obj_val.answer_settings.single_choice == true" class="question_notes question_type__colr select_box_brd answer-alarm-text answer-alarm-text-box">
                      <span class="fa fa-info-circle"></span>
                      <span class="select_texts " ng:mouseover="show_hovred_element('select_texts')">Note : When you solve  this question the next one will come directly after few moments </span>
                  </div>
                  <div class="warning_case default_theme_texts_bg select_box_data warning-message-answer-box warning-message-answer question-label-box question-label-block" ng:click="go_to_not_attended_question()"></div>
                  <div ng:if ="__player_object.settings.navigation_btns == true" class="qusu-details ques-questions text-right">
                      <button ng:click="back_to_prev_slider()" class="button-take-this select_button back-answer-question-button back-answer-question-button-block" ng:class="load_slide_theme(obj_val.question_type)" type="button" name="button" ng:cloak>
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            {> __player_object.settings.label_btns.lbl_back_with <}
                      </button>
                      <button ng:click="go_to_next_slider($index , true)" ng:class="load_slide_theme(obj_val.question_type)" class="button-take-this select_button continue-answer-question-button continue-answer-question-button-block" type="button" name="button" ng:cloak>
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          <span ng:if="$index != (__player_object.questions.length - 1)" ng:cloak>{> __player_object.settings.label_btns.lbl_continue_with <}</span>
                          <span ng:if="$index == (__player_object.questions.length - 1)" ng:cloak>{> __player_object.settings.label_btns.lbl_finish_with <}</span>
                      </button>
                  </div>
               </di>
            </div>
            <!-- End Questions -->
        </div>


        <!-- Goodbye screen  -->
        <div  class="swiper-slide">
            <!-- Ending screen contents  -->
            <div data-selected-block ="question-slide" class="screen_opg_editor container screen-container about-quiz screen-ending-starting select_box_brd goodbye-screen-block box-goodbye-screen">
                  <div class="description-body redactor-styles select_texts goodbye-screen-text-block goodbye-screen-text" ng:mouseover="show_hovred_element('select_texts')" ng:bind:html="__player_object.settings.titles.title_end_with | trust_this_html_values"></div>
                  <!--  Warning Case-->
                  <div class="warning_case select_box_data goodbye-screen-text-warning-block goodbye-screen-warning-text" ng:class="load_slide_theme(obj_val.question_type)" ng:click="go_to_not_attended_question()"></div>
                  <!-- Question buttons  -->
                  <div class="qusu-details ques-questions text-right">
                      <button ng:click="back_to_prev_slider()" class="button-take-this select_button back-button-goodbye-screen-block back-button-goodbye-screen" type="button" name="button">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        {> __player_object.settings.label_btns.lbl_back_with <}
                      </button>
                      <button data:ng:click="submit_quiz_into_report()" class="button-take-this submi_the_quiz_handler select_button submit-button-goodbye-screen submit-button-goodbye-screen-block" type="button" name="button">
                        <i class="fa fa-arrow-right fac-icon-submit" aria-hidden="true"></i>
                        <span>
                          {> __player_object.settings.label_btns.lbl_submit_quiz_with <}
                        </span>
                      </button>
                 </div>
            </div>
            <!-- End Ending screen contents  -->
        </div>

        <div class="swiper-slide welcoming-screen-x">
            <!-- Result screen contents  -->
            <div data-selected-block ="question-slide"  ng:class="(is_resume == null)?'about-quiz':'result-slide'" class="container screen-container screen-ending-starting screen_opg_editor select_box_brd box-result-screen result-screen-block"> <!-- label-question -->
                <div>
                       <!-- Case successed in quiz  -->
                       <div ng:if="in_app_editor || this_attendee_draft.att_draft[0].report_attendee_details.status != 'Failed'" class="description-body redactor-styles title_success_with select_texts result-screen-text-block result-screen-text" ng:mouseover="show_hovred_element('select_texts')" ng:bind:html="__player_object.settings.titles.title_success_with | trust_this_html_values"></div>

                       <!-- Case failed in quiz  -->
                       <div ng:if="in_app_editor || this_attendee_draft.att_draft[0].report_attendee_details.status == 'Failed'" class="description-body redactor-styles title_failed_with select_texts result-screen-text-block result-screen-text" ng:mouseover="show_hovred_element('select_texts')" ng:bind:html="__player_object.settings.titles.title_failed_with | trust_this_html_values"></div>

                       <!-- The Grade  -->
                       <div class="quiz-grade">
                         <!-- <div style="background: #f9f9f9;" class="grade_result_loder text-center">
                           Loading results ..
                         </div> -->
                         <div class="quiz-grade grade-score text-center">
                           <h3 class="select_texts result-screen-score-text-block result-screen-score-text" ng:mouseover="show_hovred_element('select_texts')">{> __player_object.settings.label_btns.lbl_score_with <} : {> this_attendee_draft.att_draft[0].report_attendee_details.correct_answers  + "/" + __player_object.questions.length <}</h3>
                         </div>
                         <div ng:if="__player_object.settings.grade_settings.is_graded" class="quiz-grade grade-score text-center">
                           <h5 class="select_texts result-screen-grade-text-block result-screen-grade-text" ng:mouseover="show_hovred_element('select_texts')">{> __player_object.settings.label_btns.lbl_grade_with <} : {> this_attendee_draft.att_draft[0].report_attendee_details.score | math_around_it <}%</h5>
                         </div>
                       </div>
                       <!-- Question buttons  -->
                       <div class="qusu-details text-right">
                           <button ng:if="__player_object.settings.review_setting == true" ng:click="review_all_resolved_question()" class="button-take-this select_button review-result-box-block review-result-box" type="button" name="button">
                             <i class="fa fa-reply-all" aria-hidden="true"></i>
                               {> __player_object.settings.label_btns.lbl_review_with <}
                           </button>
                            <button  ng:if="__player_object.settings.retake_setting == true" ng:click="retake_this_quiz()" class="button-take-this retake-this-quiz select_button retake-result-box-block retake-result-box" type="button" name="button">
                             <i class="fa fa-repeat" aria-hidden="true"></i>
                             <span>
                               {> __player_object.settings.label_btns.lbl_retake_with <}
                             </span>
                           </button>
                      </div>
               </div>
            </div>
            <!-- End Result screen contents  -->
        </div>

      </div>
      </div>

</div>
</div>
</div>

{{> attendee_preview_footer }}




<script type="text/javascript">
     // href="{{ server_ip }}ext/css/app-editor.css"

    if( window.location == window.parent.location ){
        // ==> Loading Css Files
        var stylesheet_css = document.getElementById("stylesheet-editor-css");
        stylesheet_css.href = "{{ server_ip }}ext/css/app-editor.css";
        // ==> Loading Js Files
        // var stylesheet_js = document.getElementById("stylesheet-editor-js");
        // stylesheet_js.src = "{{ server_ip }}ext/js/app-editor.js";
    }

</script>





    <!-- Swiper slider -->
    <script src="{{ server_ip }}ext/frameworks/js/swiper.min.js"></script>

    <!-- <script src="{{ server_ip }}ext/frameworks/slick/slick.js"></script> -->
    <!-- The parent application -->
    <script src="{{ server_ip }}ext/js/aa-application.js"></script>
    <!-- Quiz or Survey Players -->
    <script src="{{ server_ip }}ext/js/quiz-preview-apps.js" charset="utf-8"></script>
  </body>
</html>
