{{>top}}
{{> navbar }}
<div ng:controller="myApplicationPage">

<!-- Main Information -->
<i id="userId" user="{{user.id}}"></i>
<i id="userEmail" user="{{user.email}}"></i>
<i id="userName" user="{{user.name}}"></i>
<i id="userToken" token="{{user.token}}"></i>
<i id="serverIp" server="{{server_ip}}"></i>


<style media="screen">
  .modal-dialog {
      width: 35%;
      top: 20%;
  }
  .form-group {
      margin-bottom: 15px;
      margin-top: 15px;
  }
  .modal-sm {
    margin:0px auto;
  }
  @media only screen and (max-width:600px) {
    .modal-dialog {
        width: 70%;
       }
  }
  .modal-content {
    overflow: hidden;
    padding: 10px;
    z-index: 1;
  }
  .modal-content-overlay {
    z-index: 100;
    position: absolute;
    top: 0px ;
    left: 0px;
    right: 0px ;
    bottom: 0px;
    display: none;
    background: rgba(255,255,255,0.9);
  }
    .all-apps {
      display: block;
      position: relative;
      overflow: hidden;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
    }
    .headli {
      margin-bottom: 20px;
      margin-top: 30px;
      vertical-align: middle;
    }
    .headli > b {
      margin-top: 5px;
      margin-bottom: 10px;
      display: inline-block;
    }
    .crtnew {
      float: right;
    display: inline;

    /* padding: 0px; */
    }

    .crtnew > button
    {
          padding: 3px 15px;
    }
    .bootstrap-table .table td, .fixed-table-body .table td, .table td {
      height: auto;
    }
    .my-apps{
      display: block;
      position: relative;
      overflow: hidden;
    }
    .my-apps > li  {
      display: block;
      font-family: tahoma ,sans-serif;
      font-weight: bold;
      color: #999;

      border-bottom: 1px solid #eee;
      padding: 8px 0px;
    }
    .my-apps > li:last-child{
      border-bottom: 0px solid #eee;
    }
    .my-apps > li:first-child {
      margin: 0px !important;
    }
    .item-listed > li {
      display: inline-block;
      position: relative;
      list-style: square;
      margin-left: 30px;
    }
    .item-listed > li:first-child {
      margin-left: 0px;
    }
    .statistics-part {
      font-weight: normal;
      color: teal;
    }
    ul li.menli {
      float: right;
    }

.btn-default {
  background-color: lightcoral !important;
border-color: lightcoral !important;
}

/*+++++++++++++++++++++++++*/

.cssload-tetrominos {
 position: absolute;
 left: 46%;
top: 56%;
 transform: translate(-42px, -36px);
   -o-transform: translate(-42px, -36px);
   -ms-transform: translate(-42px, -36px);
   -webkit-transform: translate(-42px, -36px);
   -moz-transform: translate(-42px, -36px);
}

.cssload-tetromino {
 width: 36px;
 height: 42px;
 position: absolute;
 transition: all ease 0.225s;
   -o-transition: all ease 0.225s;
   -ms-transition: all ease 0.225s;
   -webkit-transition: all ease 0.225s;
   -moz-transition: all ease 0.225s;
 background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
 animation: cssload-tetromino1 1.125s ease-out infinite;
   -o-animation: cssload-tetromino1 1.125s ease-out infinite;
   -ms-animation: cssload-tetromino1 1.125s ease-out infinite;
   -webkit-animation: cssload-tetromino1 1.125s ease-out infinite;
   -moz-animation: cssload-tetromino1 1.125s ease-out infinite;
}

.cssload-box2 {
 animation: cssload-tetromino2 1.125s ease-out infinite;
   -o-animation: cssload-tetromino2 1.125s ease-out infinite;
   -ms-animation: cssload-tetromino2 1.125s ease-out infinite;
   -webkit-animation: cssload-tetromino2 1.125s ease-out infinite;
   -moz-animation: cssload-tetromino2 1.125s ease-out infinite;
}

.cssload-box3 {
 animation: cssload-tetromino3 1.125s ease-out infinite;
   -o-animation: cssload-tetromino3 1.125s ease-out infinite;
   -ms-animation: cssload-tetromino3 1.125s ease-out infinite;
   -webkit-animation: cssload-tetromino3 1.125s ease-out infinite;
   -moz-animation: cssload-tetromino3 1.125s ease-out infinite;
 z-index: 2;
}

.cssload-box4 {
 animation: cssload-tetromino4 1.125s ease-out infinite;
   -o-animation: cssload-tetromino4 1.125s ease-out infinite;
   -ms-animation: cssload-tetromino4 1.125s ease-out infinite;
   -webkit-animation: cssload-tetromino4 1.125s ease-out infinite;
   -moz-animation: cssload-tetromino4 1.125s ease-out infinite;
}









@keyframes cssload-tetromino1 {
 0%, 40% {
   transform: translate(0, 0);
 }
 50% {
   transform: translate(18px, -10px);
 }
 60%, 100% {
   transform: translate(36px, 0);
 }
}

@-o-keyframes cssload-tetromino1 {
 0%, 40% {
   -o-transform: translate(0, 0);
 }
 50% {
   -o-transform: translate(18px, -10px);
 }
 60%, 100% {
   -o-transform: translate(36px, 0);
 }
}

@-ms-keyframes cssload-tetromino1 {
 0%, 40% {
   -ms-transform: translate(0, 0);
 }
 50% {
   -ms-transform: translate(18px, -10px);
 }
 60%, 100% {
   -ms-transform: translate(36px, 0);
 }
}

@-webkit-keyframes cssload-tetromino1 {
 0%, 40% {
   -webkit-transform: translate(0, 0);
 }
 50% {
   -webkit-transform: translate(18px, -10px);
 }
 60%, 100% {
   -webkit-transform: translate(36px, 0);
 }
}

@-moz-keyframes cssload-tetromino1 {
 0%, 40% {
   -moz-transform: translate(0, 0);
 }
 50% {
   -moz-transform: translate(18px, -10px);
 }
 60%, 100% {
   -moz-transform: translate(36px, 0);
 }
}

@keyframes cssload-tetromino2 {
 0%, 20% {
   transform: translate(36px, 0px);
 }
 40%, 100% {
   transform: translate(54px, 10px);
 }
}

@-o-keyframes cssload-tetromino2 {
 0%, 20% {
   -o-transform: translate(36px, 0px);
 }
 40%, 100% {
   -o-transform: translate(54px, 10px);
 }
}

@-ms-keyframes cssload-tetromino2 {
 0%, 20% {
   -ms-transform: translate(36px, 0px);
 }
 40%, 100% {
   -ms-transform: translate(54px, 10px);
 }
}

@-webkit-keyframes cssload-tetromino2 {
 0%, 20% {
   -webkit-transform: translate(36px, 0px);
 }
 40%, 100% {
   -webkit-transform: translate(54px, 10px);
 }
}

@-moz-keyframes cssload-tetromino2 {
 0%, 20% {
   -moz-transform: translate(36px, 0px);
 }
 40%, 100% {
   -moz-transform: translate(54px, 10px);
 }
}

@keyframes cssload-tetromino3 {
 0% {
   transform: translate(54px, 10px);
 }
 20%, 60% {
   transform: translate(36px, 20px);
 }
 90%, 100% {
   transform: translate(18px, 10px);
 }
}

@-o-keyframes cssload-tetromino3 {
 0% {
   -o-transform: translate(54px, 10px);
 }
 20%, 60% {
   -o-transform: translate(36px, 20px);
 }
 90%, 100% {
   -o-transform: translate(18px, 10px);
 }
}

@-ms-keyframes cssload-tetromino3 {
 0% {
   -ms-transform: translate(54px, 10px);
 }
 20%, 60% {
   -ms-transform: translate(36px, 20px);
 }
 90%, 100% {
   -ms-transform: translate(18px, 10px);
 }
}

@-webkit-keyframes cssload-tetromino3 {
 0% {
   -webkit-transform: translate(54px, 10px);
 }
 20%, 60% {
   -webkit-transform: translate(36px, 20px);
 }
 90%, 100% {
   -webkit-transform: translate(18px, 10px);
 }
}

@-moz-keyframes cssload-tetromino3 {
 0% {
   -moz-transform: translate(54px, 10px);
 }
 20%, 60% {
   -moz-transform: translate(36px, 20px);
 }
 90%, 100% {
   -moz-transform: translate(18px, 10px);
 }
}

@keyframes cssload-tetromino4 {
 0%, 60% {
   transform: translate(18px, 10px);
 }
 90%, 100% {
   transform: translate(0, 0);
 }
}

@-o-keyframes cssload-tetromino4 {
 0%, 60% {
   -o-transform: translate(18px, 10px);
 }
 90%, 100% {
   -o-transform: translate(0, 0);
 }
}

@-ms-keyframes cssload-tetromino4 {
 0%, 60% {
   -ms-transform: translate(18px, 10px);
 }
 90%, 100% {
   -ms-transform: translate(0, 0);
 }
}

@-webkit-keyframes cssload-tetromino4 {
 0%, 60% {
   -webkit-transform: translate(18px, 10px);
 }
 90%, 100% {
   -webkit-transform: translate(0, 0);
 }
}

@-moz-keyframes cssload-tetromino4 {
 0%, 60% {
   -moz-transform: translate(18px, 10px);
 }
 90%, 100% {
   -moz-transform: translate(0, 0);
 }
}
</style>
 <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 headli">
        <b>
          My Applications
        </b>


          <div class="btn-group crtnew" role="group" aria-label="...">


              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i>
                Add New
              </button>
              <ul class="dropdown-menu medi-arr">
                <li><a ng:click="create_application('Quiz')" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Create Quiz</a></li>
                <li><a ng:click="create_application('Survey')" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Create Survey</a></li>
              </ul>

          </div>
      </div>
      <div class="col-md-10 col-md-offset-1 all-apps">
        <ul class="my-apps">
          <li class="text-center" ng:if="{{myApps.length}} == 0 ">
            There are no any records !
          </li>
          {{#each myApps }}
          <li class="listed-app-{{_id}}">
            <ul class="item-listed">
              <li><span>{{questionnaire_title}}</span></li>


              <li class="menli"><a class="delete-handler-{{_id}}" style="color:tomato;" ng:click="delete_existing_app('{{_id}}')">Delete</a></li>
              <li class="menli"><a style="color:teal;" href="{{server_ip}}api/{{_id}}/editor/{{../user.token}}">Edit</a></li>
              <li class="menli"><a style="color:green;" href="#">Preview <span ng:if="{{app_type}} == 1">Quiz</span><span ng:if="{{app_type}} == 0">Survey</span></a></li>
            </ul>
          </li>



          {{/each }}
        </ul>

      </div>
    </div>
 </div>



 <!-- Create new Application -->
 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
 <div class="modal-dialog modal-sm" role="document">
   <div class="modal-content">
     <div class="col-md-12">
       <div class="form-group">
         <input type="text" class="form-control application-title"  placeholder="Application Title">
       </div>

       <div class="form-group">
         <textarea class="form-control application-description"  placeholder="Description"></textarea>
       </div>

       <div class="form-group text-right">
          <button ng:click="cancel_app_creation()" class="btn btn-danger" type="button" name="button">Cancel</button>
          <button ng:click="start_app_creation()" class="btn btn-primary" type="button" name="button">Create New Quiz</button>
       </div>
     </div>
   </div>
   <div class="modal-content-overlay">
      <div class="cssload-tetrominos">
      	<div class="cssload-tetromino cssload-box1"></div>
      	<div class="cssload-tetromino cssload-box2"></div>
      	<div class="cssload-tetromino cssload-box3"></div>
      	<div class="cssload-tetromino cssload-box4"></div>
      </div>
   </div>
 </div>
</div>

</div>
{{> bottom}}
