{{>top}}
{{> navbar }}
<div class="questionnaires-page" ng:controller="my-applications-controller">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 headli">
        <b>
          My Applications
        </b>


          <div class="btn-group crtnew" role="group" aria-label="...">


              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i>
                Add New
              </button>
              <ul class="dropdown-menu medi-arr">
                <li><a ng:click="create_application('Quiz')" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Create Quiz</a></li>
                <li><a ng:click="create_application('Survey')" href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Create Survey</a></li>
              </ul>

          </div>
      </div>
      <div class="col-md-10 col-md-offset-1 all-apps">
        <ul class="my-apps">
          <li class="text-center" ng:if="{{myApps.length}} == 0 ">
            There are no any records !
          </li>
          {{#each myApps }}
          <li class="listed-app-{{_id}}">
            <ul class="item-listed">
              <li><span>{{questionnaire_title}}</span></li>


              <li class="menli"><a class="delete-handler-{{_id}}" style="color:tomato;" ng:click="delete_existing_app('{{_id}}')">Delete</a></li>
              <li class="menli"><a style="color:teal;" href="{{server_ip}}api/{{_id}}/editor/{{../user.token}}">Edit</a></li>
              <li class="menli"><a style="color:green;" href="#">Preview <span ng:if="{{app_type}} == 1">Quiz</span><span ng:if="{{app_type}} == 0">Survey</span></a></li>
            </ul>
          </li>



          {{/each }}
        </ul>

      </div>
    </div>
 </div>



 <!-- Create new Application -->
 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
 <div class="modal-dialog modal-sm" role="document">
   <div class="modal-content">
     <div class="col-md-12">
       <div class="form-group">
         <input ng:model="application_title" type="text" class="form-control application-title"  placeholder="Application Title">
       </div>

       <div class="form-group">
         <textarea ng:model="application_description" class="form-control application-description"  placeholder="Description"></textarea>
       </div>

       <div class="form-group text-right">
          <button ng:click="cancel_app_creation()" class="btn btn-danger" type="button" name="button">Cancel</button>
          <button ng:click="start_app_creation()" class="btn btn-primary" type="button" name="button">Create New Quiz</button>
       </div>
     </div>
   </div>
   <div class="modal-content-overlay">
      <div class="cssload-tetrominos">
      	<div class="cssload-tetromino cssload-box1"></div>
      	<div class="cssload-tetromino cssload-box2"></div>
      	<div class="cssload-tetromino cssload-box3"></div>
      	<div class="cssload-tetromino cssload-box4"></div>
      </div>
   </div>
 </div>
</div>

</div>
{{> bottom}}
