{{>top}}
{{> navbar }}
<style media="screen">
  .all-apps {
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
  }
  .headli {
    margin-bottom: 20px;
    margin-top: 30px;
    vertical-align: middle;
  }
  .headli > b {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .crtnew {
    float: right;
    display: inline;
    margin-left: 10px;
  }
  .bootstrap-table .table td, .fixed-table-body .table td, .table td {
    height: auto;
  }
  .my-apps{
    display: block;
    position: relative;
    overflow: hidden;
  }
  .my-apps > li {
    display: block;
    font-family: tahoma ,sans-serif;
    font-weight: bold;
    color: #999;
  }
  .item-listed > li {
    display: inline-block;
    position: relative;
    list-style: square;
    margin-left: 30px;
  }
  .item-listed > li:first-child {
    margin-left: 0px;
  }
  .statistics-part {
    font-weight: normal;
    color: teal;
  }
  ul li.menli {
    float: right;
  }
</style>
 <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 headli">
        <b>
          My Applications
        </b>


          <div class="btn-group crtnew" role="group" aria-label="...">

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>(+)</b> Create New Application
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Create Quiz</a></li>
                <li><a href="#">Create Survey</a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-10 col-md-offset-1 all-apps">
        <ul class="my-apps">
          {{#each myApps }}
          <li>
            <ul class="item-listed">
              <li><span>{{questionnaire_title}}</span></li>
              <li>  >>>>  </li>
              <li>
                {{questions.length}} <span class="statistics-part">Questions</span>
              </li>

              <li class="menli"><a href="#">Delete</a></li>
              <li class="menli"><a href="#">Edit</a></li>
              <li class="menli"><a href="#">Preview <span ng:if="{{app_type}} == 1">Quiz</span><span ng:if="{{app_type}} == 0">Survey</span></a></li>
            </ul>
          </li>


          <li>
            <ul class="item-listed">
              <li><span>{{questionnaire_title}}</span></li>
              <li>  >>>>  </li>
              <li>
                {{questions.length}} <span class="statistics-part">Questions</span>
              </li>

              <li class="menli"><a href="#">Delete</a></li>
              <li class="menli"><a href="#">Edit</a></li>
              <li class="menli"><a href="#">Preview <span ng:if="{{app_type}} == 1">Quiz</span><span ng:if="{{app_type}} == 0">Survey</span></a></li>
            </ul>
          </li>
          {{/each }}
        </ul>

      </div>
    </div>
 </div>

{{> bottom}}
