<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Quiz and Survey api</title>
      <!--
        ==============================================================================
        =========================== Stylesheet files =================================
        ==============================================================================
      -->
      <link href="{{ server_ip }}ext/frameworks/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/frameworks/css/redactor.min.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/frameworks/css/font-awesome.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/frameworks/css/animate.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/frameworks/css/swiper.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/frameworks/css/spectrum.css" rel="stylesheet">
      <link ng:if="page_name=='api'" href="{{ server_ip }}ext/css/apps.css" rel="stylesheet">


      <!--[if lt IE 9]>
        <script src="{{ server_ip }}ext/frameworks/js/html5shiv.min.js"></script>
        <script src="{{ server_ip }}ext/frameworks/js/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>
    <input id="userId" type="hidden" name="" value="{{user.id}}">
    <input id="userEmail" type="hidden" name="" value="{{user.email}}">
    <input id="userName" type="hidden" name="" value="{{user.name}}">
    <input id="userToken" type="hidden" name="" value="{{user.token}}">
    <input id="serverIp" type="hidden" name="" value="{{ server_ip }}">
    <input id="applicationId" type="hidden" name="" value="{{app._id}}">
    <input id="applicationType" type="hidden" name="" value="{{app.app_type}}">



  {{#if header_status }}
    {{> navbar }}
  {{/if }}



    <!--
      ==============================================================================
      =========================== Javascript files =================================
      ==============================================================================
    -->
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/angular.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/sortable.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-color.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-size.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-family.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/spectrum.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/sweetalert.min.js"></script>

  </body>
</html>
