<!DOCTYPE html>
<html lang="en" dir="ltr" ng:app="applications" ng:controller="page-controller">
  <head>
      <meta charset="utf-8">
      <title>Quiz Editor</title>
      <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.css" /> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" />

      <link href="{{ server_ip }}ext/frameworks/css/cropper.css" rel="stylesheet">
      <!-- <link href="{{ server_ip }}ext/frameworks/css/redactor.min.css" rel="stylesheet"> -->
      <link href="{{ server_ip }}ext/frameworks/css/spectrum.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/css/swiper.min.css" rel="stylesheet">

      <link href="{{ server_ip }}ext/css/apps.css" rel="stylesheet">
      <link href="{{ server_ip }}ext/css/editor-mobile.css" rel="stylesheet">

      <style media="screen">
        .editor-block {
          width: 95% !important;
          margin: 0px auto;
        }
        .buttons-container{
          width: 100% !important;
          padding: 0px !important;
          display: block !important;
          margin-top: 15px !important;
          margin-bottom: 10px !important;
        }
      </style>
      <style media="screen" ng:if="{{ header_status }} == false" >
        .update-rows { margin-top: 16px !important; }
        .question-data { margin-top: 10px !important; }
        .question-x { margin-top:0px !important; }
        .settings_menu {  top: -4px !important; }
      </style>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js" charset="utf-8"></script>



  </head>
  <body ng:controller="apps-controller">
    <!-- Inputs -->
    <input id="userId" type="hidden" name="" value="{{user.id}}">
    <input id="userEmail" type="hidden" name="" value="{{user.email}}">
    <input id="userName" type="hidden" name="" value="{{user.name}}">
    <input id="userToken" type="hidden" name="" value="{{user.token}}">
    <input id="serverIp" type="hidden" name="" value="{{ server_ip }}">
    <input id="applicationId" type="hidden" name="" value="{{app._id}}">
    <input id="applicationType" type="hidden" name="" value="{{app.app_type}}">
    <input id="question_id" type="hidden" name="" value="">
    <input id="cropping-image-width" type="hidden" name="" value="">
    <input id="cropping-image-height" type="hidden" name="" value="">
    <input id="cropping-image-x" type="hidden" name="" value="">
    <input id="cropping-image-y" type="hidden" name="" value="">
    <input id="file_extension" type="hidden" name="" value="">

    <div class="editor-contents" ng:controller="apps-controller">
      <!-- ++++ Start Editor Contents ++++  -->
      <div class="side-left-bar">
        <!-- ++++ Start left bar ++++  -->
        <div class="question-data">
          <ul id="qs-sortable" class="question-x">
            <li draggable="false" class="question_bult_in" id="question-muliple-choices" data-type="qst" data-question-type="0" question-data="partials/multi-choices.hbs" ng:click="add_new_question(0)">
                 <span class="qs-type" title="Multiple Choices">
                    <i class="icon-insert-template"></i>
                 </span>
                 <span class="titles">Choices</span>
            </li>
            <li draggable="false" class="question_bult_in" id="question-media-choices" data-type="qst" data-question-type="1" question-data="partials/media-choices.hbs" ng:click="add_new_question(1)">
              <span class="qs-type" title="Media Choices">
                 <i class="icon-image"></i>
              </span>
              <span class="titles">Media</span>
            </li>
            <li draggable="false" class="question_bult_in" id="question-boolean-choices" data-type="qst" data-question-type="2" question-data="partials/true-false.hbs" ng:click="add_new_question(2)">
             <span class="qs-type" title="Ture/False">
                <i class="icon-check-circle"></i>
             </span>
             <span class="titles">Boolean</span>
            </li>
          </ul>
        </div>
        <!-- ++++ End left bar ++++  -->
      </div>


      <div class="Quizontainer-fluid update-rows">
        <!-- ++++ Start application Title ++++  -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="area-qs-ch quiz-titles">
                <span class="questionnaire-title">
                  <!-- Quiz Name -->
                   <span ng:cloak>
                     {> _application_.questionnaire_title <}
                   </span>
                </span>
                <a class="choices-right-add btn-primary preview-button btn rm-margin" href="{{server_ip}}{{app._id}}/live_preview/{{user.id}}">
                  Preview Quiz
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid row-x-body">
           <div class="row">
             <!-- +++++ Start Left Columns -->
             <div id="left-part-question-lists" class="left_part col-md-5 col-sm-6 col-xs-12">
                <div class="question-data qsdragged-list qs-dropped background_drag_drop" style="margin-top:0px !important;">

                  <ul id="docQuestions" class="dropped-qs dropped-qs-2">
                    <!--   ng:class="(deleted_question_id == qs_value._id) ? 'animated zoomOut':'' " -->
                     <li ng:class="question_list_classes()" class="question-li-x qs-{>qs_value._id<}" ng:click="highlighted_question(qs_value._id)" id="questoin_tag_{>qs_value._id<}" data-index="{>$index<}" data-question-id="{>qs_value._id<}" ng:repeat="(qs_key , qs_value) in _questions_ track by $index" ng:cloak>
                       <div class="question-part">
                         <div class="qs-type quesiontlist_iconx">
                           <div class="drag-handler">
                             <i>...</i>
                           </div>
                           <div class="single-question-container">
                             <span class="qs-type" title="Multiple Choices">
                               <i ng:if="qs_value.question_type == 0" class="icon-insert-template"></i>
                               <i ng:if="qs_value.question_type == 1" class="icon-image"></i>
                               <i ng:if="qs_value.question_type == 2" class="icon-check-circle"></i>
                             </span>
                             <span class="qs-body" ng-bind="qs_value.question_body | striphtmltags" ng:cloak></span>
                           </div>
                         </div>
                       </div>
                     </li>
                     <li ng:hide="(_questions_.length != 0 || on_drag_status == true) ? true : false" class="qs-status">
                         <h2>
                          Drag drop questions here !
                         </h2>
                     </li>
                  <ul>
                </div>
             </div>
             <!-- +++++ End Left Columns -->

             <!-- +++++ Start Right Columns -->
              <div class="right_part col-md-7 col-sm-6 col-xs-12">

                <div class="helper-guids"></div>
                <div class="switched-button switch-mode">
                  <!-- <div ng:if="screen_type == 3" class="input-switch" ng:class="(screen_type == 0 ) ? 'display_editor_preview_option':'dontdisplay_editor_preview_option'">
                    <label for="switch-editor">Edit</label>
                    <input type="checkbox" id="switch-editor" ng:model="is_view" ng:change="switching_editor_preview(is_view)" class="input" />
                    <label for="switch-editor" class="switch"></label>
                    <label for="switch-editor">Preview</label>
                  </div> -->

                  <div ng:if="screen_type == 3" class="button-switcher">
                    <span class="selected-mode" ng:class="current_mode(is_view)"></span>
                    <span ng:style="{color : ( is_view == 1 ) ? '#999' : '#fff'}" ng:click="switch_int_mode(0)" class="editor-btn">Edit Mode</span>
                    <span ng:style="{color : ( is_view == 0 ) ? '#999' : '#fff'}" ng:click="switch_int_mode(1)" class="preview-btn">Preview Mode</span>
                  </div>
                  <div ng:if="screen_type != 3">
                      <span ng:if="screen_type == 0">Welcome Screen</span>
                      <span ng:if="screen_type == 1">Thank you Screen</span>
                      <span ng:if="screen_type == 2">Result Screen</span>
                      <span ng:if="screen_type == 5">Expire Screen</span>
                      <span ng:if="screen_type == 4">Expire Warning Screen</span>
                  </div>
                </div>


                <!--
                ++++++++++++++++++++++++++++ Start Mbile menu
                -->
                <div class="mobile-question-list">
                  <ul class="all-mobile-question-lists">
                    <li class="qs-{>qs_value._id<}" ng:click="highlighted_question(qs_value._id)" ng:repeat="(qs_key , qs_value) in _questions_ track by $index">
                      <span>
                        <i ng:if="qs_value.question_type == 0" class="icon-insert-template"></i>
                        <i ng:if="qs_value.question_type == 1" class="icon-image"></i>
                        <i ng:if="qs_value.question_type == 2" class="icon-check-circle"></i>
                        <i ng:if="qs_value.question_type == 3" class="fa" ng:class="(qs_value.answers_format[0].ratscal_type == 0) ? 'fa-signal' :'fa-star-o' "></i>
                        <i ng:if="qs_value.question_type == 4" class="fa fa-text-width"></i>
                      </span>
                    </li>

                  </ul>
                </div>
                <!--
                ++++++++++++++++++++++++++++ END Mbile menu
                -->

                <!-- Question Container -->
                 <div class="question-editor swipper-container-block">

                   <div class="swiper-container swiper-data">
                     <div class="swiper-wrapper">
                       <div class="swiper-slide editor-page" ng:include="'/partials/editor.hbs'"></div>
                       <div class="swiper-slide preview-page" ng:include="'/partials/preview.hbs'"></div>
                     </div>
                   </div>
                 </div>
              </div>
             <!-- +++++ End Right Columns -->
           </div>
        </div>
        <!-- ++++ End application Title ++++  -->
      </div>
      <!-- ++++ End Editor Contents ++++ -->
    </div>


    <!-- Image Uploader -->
    <div class="box-overlay media-uploader media-imgvid-uploader">
      <div class="box-data">
        <div class="box-data-title">
          <b class="media-title">Media Uploader</b>
        </div>
        <div class="media-part-controller">
          <input ng:change="media_links_are_changed()" ng:model="media_link" type="text" class="form-control media-inputs show_media_link" placeholder="Media Link">
          <ul class="media-links">
            <li>
              <a ng:click="show_media_link()" class="video-handler" href="#">
                Add Video
              </a>
            </li>
            <li>
              <input ng:change="image_uploader_is_touched()" ng:model="media_image_model" class="image-uploader-x" type="file" name="" value="">
              <a ng:click="upload_image_handler()" class="image-handler" href="#">
                Add Image
              </a>
            </li>
          </ul>
        </div>

        <!-- Media View -->
        <!-- Image Case -->
        <div style="position: relative;" ng:if="media_data != undefined">
          <!--  Progress Uploader -->
          <div class="prog-part">
            <!-- Status case and precentag -->
            <div class="status-case text-center">
              <ul>
                <li class="progress-perc-ui">
                  <span class="percentage-val"></span>
                </li>
              </ul>
              <sub class="status-txt">
                Please Wait , It will take some while
              </sub>
            </div>
            <!-- Progression -->
            <div class="progress-bar-proccess">
              <div class="currprcees"></div>
            </div>
          </div>
          <!--  Image Details -->
          <div class="media-part-controller live_preview_image">
            <img ng:if="media_data.media_type == 0" id="cropping_system" class="isCropperImage" ng:src="{> media_data.media_src | trust_iframe_url <}" alt="Image">
            <iframe ng:if="media_data.media_type == 1 && ( media_data.video_type == 1 || media_data.video_type == 0)" ng:src="{> media_data.media_src | trust_iframe_url <}" width="100%" height="auto"></iframe>
            <div class='loading_data'></div>
          </div>

          <!-- Uploader Spinner -->
          <div class="image-uploader-progress text-center" ng:if="image_uploader_proceed.show_progress == true">
            <h2 class="proresstxt" ng:if="image_uploader_proceed.progress != 100 ">{> image_uploader_proceed.progress <}% Completed ... </h2>
             <h2 class="proresstxt" ng:if="image_uploader_proceed.progress == 100 "><i class="fa fa-check"></i>{> image_uploader_proceed.progress <}% Completed ... </h2>
          </div>
          <!-- End Uploader Spinner -->

        </div>



        <div class="preview-media-part butns-part">
          <button ng:click="close_current_image_uploader()" class="button_updates btn btn-danger btn-close-media" type="button" name="button">
            Close
          </button>
          <button ng:click="storing_image_with_cropped_data()" class="button_updates btn btn-primary mm-update" type="button" name="button">
            Save
          </button>
        </div>

      </div>
    </div>



    <!-- Setting Menu  -->
    {{> settings_menu }}



    <div class="modal-content-overlay">
      <div class="cssload-tetrominos">
      	<div class="cssload-tetromino cssload-box1"></div>
      	<div class="cssload-tetromino cssload-box2"></div>
      	<div class="cssload-tetromino cssload-box3"></div>
      	<div class="cssload-tetromino cssload-box4"></div>
      </div>
   </div>

    <!-- JS Links -->
    <script src="{{ server_ip }}ext/frameworks/js/spectrum.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/cropper.js"></script>

    <!-- <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-color.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-size.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/redactor-font-family.js"></script> -->

    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/sortable.min.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/js/swiper.min.js"></script>
    <!-- <script type="text/javascript" src="{{ server_ip }}ext/js/redactor-angular.js"></script> -->
    <script type="text/javascript" src="{{ server_ip }}ext/js/a-application.js"></script>
    <script type="text/javascript" src="{{ server_ip }}ext/js/app-apps.js"></script>
  </body>
</html>
