<!DOCTYPE html>
<html lang="en" dir="ltr" ng:app="applications" ng:controller="page-controller">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">

    <link rel="stylesheet" href="{{ server_ip }}ext/css/default-player.css">
    <link rel="stylesheet" href="{{ server_ip }}ext/css/default-themes.css">
    <link rel="stylesheet" ng:href="{> _stylesheet_ <}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js" charset="utf-8"></script>
  </head>
  <body ng:controller="player">
    <input id="userId" type="hidden" name="" value="{{ user.id }}">
    <input id="appId" type="hidden" name="" value="{{ app._id }}">


    <!-- ++Timer -->

    <!-- ++Questions  -->
    <!-- ++Ending Screen  -->
    <!-- ++Result Screen  -->
    <div class="swiper-container">
      <div class="swiper-wrapper quiz-contents">
          <!-- ++Welcome Screens -->
      </div>
    </div>

    <script src="{{ server_ip }}ext/js/aa-application.js" charset="utf-8"></script>
    <script src="{{ server_ip }}ext/js/quiz-survey-player-app.js" charset="utf-8"></script>
  </body>
</html>
