<!DOCTYPE html>
<html  ng:app="applications" ng:controller="attendee-controller" id="body_view">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Styles -->
    <!--
    ==========================>>>>>> Public
    -->
    <link href="{{ server_ip }}ext/frameworks/css/bootstrap.min.css" rel="stylesheet">
    <!--  >>>>>Custom css -->
    <link ng:if="page_name == 'quizzes'" rel="stylesheet" href="{{ server_ip }}ext/css/quizzes-app.css">

    <!-- scripts -->
    <!--
    ==========================>>>>>> Public
    -->
    <script src="{{ server_ip }}ext/frameworks/js/jquery.min.js" charset="utf-8"></script>
    <script src="{{ server_ip }}ext/frameworks/js/bootstrap.min.js"></script>
    <script src="{{ server_ip }}ext/frameworks/js/angular.min.js"></script>
  </head>
  <body>
    <!-- User Id -->
   <input id="userId" type="hidden" name="" value="{{ user.id }}">
   <input id="appId" type="hidden" name="" value="{{app._id}}">


  {{> navbar }}
  <!-- {> _applications_ <} -->
  <!-- {> message <}  -->
  <div ng:controller="list-apps" class="container app-container">
      <div class="search-ctr disabled-block">
        <div class="row">
          <div class="col-xs-12">
            <div class="search-container">
              <input class="search-element" type="text" placeholder="Search about application" name="" value="">
              <button type="button" name="button">Search</button>
              <button type="button" name="button">See all applications</button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearFix"></div>
      <div class="container">
        <div class="col-md-4">
          <div class="questinnaire-list">
                My Quizzes and surveys
          </div>
          <div class="clearFix"></div>
          <div class="list-apps">
              <ul class="my-qusu">
                <li>
                  <span>
                     My Quizzes and survey
                  </span>
                </li>
              </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="questinnaire-list">
                All Quizzes and surveys
          </div>
          <div class="clearFix"></div>
          <div class="list-apps">
              <ul class="my-qusu">
                <li ng:repeat="(app_key , app_val )  in _applications_">
                  <span href="#">
                      <span>{> app_val.questionnaire_title <}</span>
                      <!-- <span>{> app_val.creator_id.email <}</span> -->
                      <!-- 12 <i class="fa fa-user"></i> take this quiz -->
                  </span>
                   <!-- localhost:9000/api/:app_id/:player_type/player/:token -->
                   <a href="{{server_ip}}api/{> app_val._id <}/{> ( app_val.app_type == 0 ) ? 'survey' : 'quiz' <}/player/{{user.token}}/data">
                     Take this {> ( app_val.app_type == 0 ) ? "Survey" : "Quiz" <}
                   </a>
                </li>

              </ul>
          </div>
        </div>
      </div>
  </div>





      <script src="{{ server_ip }}ext/js/aa-application.js"></script>
      <!-- App ( attendee => quizzes or surveys) list -->
      <script src="{{ server_ip }}ext/js/quiz-app-quizzes.js"></script>

    </body>
  </html>
