
    <!-- frameworks -->
    <script type="text/javascript" src="{{ server_ip }}ext/frameworks/js/bootstrap.min.js"></script>
    <!-- Main Applications { Angular Part } -->
    <script type="text/javascript" src="{{ server_ip }}ext/js/applications.js"></script>
    <!-- Login Page -->
    <script ng:if="page_name=='login'" type="text/javascript" src="{{ server_ip }}ext/js/app-login.js"></script>
    <!-- Register Page -->
    <script ng:if="page_name=='register'" type="text/javascript" src="{{ server_ip }}ext/js/app-register.js"></script>
    <!-- My application Page -->
    <script ng:if="page_name=='questionnaires'" type="text/javascript" src="{{ server_ip }}ext/js/app-myapps.js"></script>

  </body>
</html>
