

  <!--
  ###########################################################
   >>>>>>>>>>>>>>>>>>>> Scripts <<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  ###########################################################
  -->

    <!-- Quiz survey Creation -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Angular Pages -->
    <script src="{{ server_ip }}ext/js/app.ang.js"></script>
    <script src="{{ server_ip }}ext/libs/slick.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.single-item').slick();
      });
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ server_ip }}ext/js/bootstrap.min.js"></script>
    <!-- Login and Regsiter new user -->
    <script src="{{ server_ip }}ext/js/app.user.auth.js" charset="utf-8"></script>
    <!-- Api Key Creation -->
    <script src="{{ server_ip }}ext/js/app.api.key.js" charset="utf-8"></script>
    <!-- Quiz Survey Applicarion -->
    <script src="{{ server_ip }}ext/js/app.application.creation.js"></script>
  </body>
</html>
