<!-- live Preview for Questions -->
<div  class="question-preview qsdragged-list">
   <!-- Screen Options -->
   <!-- <span class="screen-option">
      <i class="fa fa-code"></i> <!-- fa-compress -->
   <!-- </span> -->
      <!-- Questions -->
      <div class="question-options">
         <!-- ************************************************** -->
         <!-- =================== Timeframe ==================== -->
         <!-- ************************************************** -->
         <!-- Layout A --> <!-- ==> Default -->
         <!--
            <div class="container-fluid quiz-status-block text-center">
                <div class="timeframe-container time-x-part">15:00 <span class="time-type">mins</span></div>
            </div>
            -->
         <!-- Layout B -->
         <!--
            <div class="container-fluid quiz-status-block">
               <div class="timeframe-container">
                  <div id="time-frame-pie">
                     <div class="outer-shadow"></div>
                     <div class="inner-shadow">
                        <span>
                        <span>15</span><span class="sec-min">:00</span>
                        </span>
                        <span>hrs</span>
                     </div>
                     <div class="timer">
                        <div class="dot">
                           <span></span>
                        </div>
                        <div class="hold" id="left">
                           <div class="pie"></div>
                        </div>
                        <div class="hold" id="right">
                           <div class="pie"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            -->
         <!-- ************************************************** -->
         <!-- =================== Progression bar ============== -->
         <!-- ************************************************** -->
         <!-- >>>>>> {A}==> Progression bars -->
         <!-- Layout A --> <!-- ==> Default -->
         <!--
            <div class="progress up-progress-bar">
              <div class="progress-bar upprogress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
              </div>
            </div>
            -->
         <!-- Layout B -->
         <!--
            <div id="progress" class="graph">
              <div id="bar" style="width:34%">
                <p>34% complete</p>
              </div>
            </div>
         -->
         <!-- >>>>>> {B} ==> Steps -->
         <!-- Layout A -->
         <!--
            <div id="progress_survey_steps" class="progress step-default">
                <b>5/8</b>
            </div>
            -->
         <!-- Layout B -->
         <!--
            <div id="progress_survey_steps" class="progress">
                <div class="circle done">
                  <span class="label">✓</span>
                  <span class="title">33%</span>
                </div>
                <span class="bar done"></span>
                <div class="circle done">
                  <span class="label">✓</span>
                  <span class="title">66%</span>
                </div>
                <span class="bar"></span>
                <div class="circle active">
                  <span class="label">3</span>
                  <span class="title">100%</span>
                </div>
            </div>
            -->
         <div class="progress_survey_steps">
            <!-- for Append attributes -->
         </div>
         <ul class="question-lists">
         {{# each app.questions }}
            <li class="question-tags">

              <div class="quiz-qs-preview">
                  <!-- +++++++++++++++++++++++++++++++++++ -->
                  <!-- ++++++++++++  Question Tag ++++++++ -->
                  <!-- +++++++++++++++++++++++++++++++++++ -->
                  <div class="question-head">
                    <!-- Question Tag {Text} -->
                    <p>
                      {{ question_body }}
                    </p>
                    <div class="clearFix"></div>

                      {{#if media_question}}
                      <div class="qs-media-data">
                          <!-- +++++++++++++++++++++++++++++++++++++ -->
                          <!--++++++++++++ Case it Image ++++++++++++-->
                          <!-- +++++++++++++++++++++++++++++++++++++ -->
                          <div ng:if="{{ media_question/media_type }} == 0" style="width:100%; height:250px;">
                             <img ng:src="{{server_ip}}{{media_question/media_field}}" alt="{{question_body}}" class="img-responsive-md">
                          </div>

                          <!-- +++++++++++++++++++++++++++++++++++++ -->
                          <!--++++++++++++ Case it video ++++++++++++-->
                          <!-- +++++++++++++++++++++++++++++++++++++ -->
                          <div ng:if="{{ media_question/media_type }} == 1" class="media-optional-src">
                        <!-- +++++++++++++++++++++++++++++++ -->
                        <!-- Case it youtube -->
                        <!-- +++++++++++++++++++++++++++++++ -->
                        <div class="youtube-container" ng:if="{{ media_question/video_type }} == 0">
                          <div style="width:100%;height:250px" id="player_{{_id}}" class="youtube">
                            <iframe  type="text/html" style="width:100%;height:250px;"
                             src="https://www.youtube.com/embed/{{video_id}}"
                             frameborder="0">
                           </iframe>
                          </div>
                        </div>

                        <!-- +++++++++++++++++++++++++++++++ -->
                        <!-- Case it vimeo -->
                        <!-- +++++++++++++++++++++++++++++++ -->
                        <div class="youtube-container" ng:if="{{ media_question/video_type }} == 1">
                          <div class='embed-container'><iframe src='https://player.vimeo.com/video/{{video_id}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                        </div>

                        <!-- +++++++++++++++++++++++++++++++ -->
                        <!-- Case it mp4 -->
                        <!-- +++++++++++++++++++++++++++++++ -->
                        <video ng:if="{{ media_question/video_type }} == 2" controls style="width:100%; height:auto;">
                           <source type="video/mp4" src="{{media_question/media_field}}.mp4">
                           <!-- <source type="video/mp4" src="{{ media_question/media_field }}.ogg"> -->
                        </video>
                      </div>
                    </div>
                    {{/if}}

                  </div>
                  <!-- Question Description -->
                  <span class="qs-description">
                    {{ question_description }}
                  </span>
                  <div class="clearFix"></div>
                  <!-- +++++++++++++++++++++++++++++++++++ -->
                  <!-- ++++++++++++++++ Answers ++++++++++ -->
                  <!-- +++++++++++++++++++++++++++++++++++ -->
                  {{#if answers_format }}
                    <ul class="answer-of-questions">

                    </ul>
                  {{else}}
                    <b>There are no answers here !</b> <a href="#">Add new answer</a>
                  {{/if}}

              </div>
              <!-- ++++++++++++++++++++++++++++++-->
              <!--+++++++++++ Buttons +++++++++++-->
              <!-- ++++++++++++++++++++++++++++++-->
              <div class="controller-btns">
                 <button class="btn btn-danger-outline" type="button" name="button">
                    Back
                 </button>
                 <button class="btn btn-primary-outline" type="button" name="button">
                    Continue
                 </button>
              </div>

            </li>
         {{/each }}
         </ul>
      </div>

</div>

<!-- ---------------------------------------------- -->
<!-- +++++++++++++++ editor overlay +++++++++++++++ -->
<!-- ---------------------------------------------- -->
<div class="editor-overlay">
  <div class="card">
  	<div class="loader">
  		<div class="spin"></div>
  		<div class="bounce"></div>
  	</div>
  </div>
</div>
