<link rel="stylesheet" href="{{ server_ip }}ext/css/default-player.css">
<link rel="stylesheet" href="{{ server_ip }}ext/css/default-themes.css">
<link rel="stylesheet" id="stylesheet-editor-css">


<!--  Input of these information then going to show the part of this page accorgin    -->
<input type="hidden" id="server_ip" name="" value="{{server_ip}}">
<input type="hidden" id="user_id" name="" value="{{user.id}}">
<input type="hidden" id="app-id" name="" value="{{app._id}}">
<style media="screen">
    .preview-container { height: auto; }
    .player-body-screen {
      position: relative;
      width: 100%;
      height: auto;
    }
    .swiper-slide {    margin: 15px auto; }
    .about-quiz , .screen-container { width: 95%; }

</style>
<!--
---------------------------------------------------------
=============================>>> Timer And Progress
---------------------------------------------------------
-->

 <!--
 ---------------------------------------------------------
 =============================>>> Welcome Screen
 ---------------------------------------------------------
 -->
 <div class="swiper-wrapper quiz-contents" ng:if="screen_type == 3">
  <div class="swiper-slide welcoming-screen-x">
    <div data-selected-block="question-slide" ng:class="load_quiz_status_theme()" class="container screen-container screen-ending-starting screen_opg_editor welcome-screen select_box_brd welcome-screen-block box-welcome-screen">
       <div>
           <div class="description-body redactor-styles select_texts welcome-screen-text-block welcome-screen-text" ng:bind:html="__player_object.settings.titles.title_start_with | trust_html"></div>
           <div class="qusu-details text-right">
              <button ng:click="start_this_quiz()" class="button-take-this select_button welcome-screen-button-block welcome-screen-button" type="button" name="button">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                    {> __player_object.settings.label_btns.lbl_start_with <}
                  </button>
           </div>
       </div>
    </div>
  </div>
</div>

<!--
---------------------------------------------------------
=============================>>> Ending Screen
---------------------------------------------------------
-->
  <div  class="swiper-slide" ng:if="screen_type == 2">
    <div data-selected-block ="question-slide" class="screen_opg_editor container screen-container about-quiz screen-ending-starting select_box_brd goodbye-screen-block box-goodbye-screen">
        <div class="description-body redactor-styles select_texts goodbye-screen-text-block goodbye-screen-text" ng:bind:html="__player_object.settings.titles.title_end_with | trust_html"></div>
        <div class="warning_case select_box_data goodbye-screen-text-warning-block goodbye-screen-warning-text" ng:class="load_slide_theme(question.question_type)" ng:click="go_to_not_attended_question()"></div>
        <div class="qusu-details ques-questions text-right">
            <button ng:click="back_to_last_question()" class="button-take-this select_button back-button-goodbye-screen-block back-button-goodbye-screen" type="button" name="button">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                {> __player_object.settings.label_btns.lbl_back_with <}
            </button>
            <button data:ng:click="submit_this_qusu()" class="button-take-this submi_the_quiz_handler select_button submit-button-goodbye-screen submit-button-goodbye-screen-block" type="button" name="button">
                <i class="fa fa-arrow-right fac-icon-submit" aria-hidden="true"></i>
                <span>
                    {> __player_object.settings.label_btns.lbl_submit_quiz_with <}
                </span>
            </button>
        </div>
    </div>
</div>

<!--
---------------------------------------------------------
=============================>>> Result  Screen
---------------------------------------------------------
-->
<div class="swiper-slide welcoming-screen-x" ng:if="__player_object.app_type == 1 && screen_type == 1">
    <div data-selected-block ="question-slide"  ng:class="(is_resume == null)?'about-quiz':'result-slide'" class="container screen-container screen-ending-starting screen_opg_editor select_box_brd box-result-screen result-screen-block">
      <div>
        <div ng:if="in_app_editor || this_attendee_draft.att_draft[0].report_attendee_details.status != 'Failed'" class="description-body redactor-styles title_success_with select_texts result-screen-text-block result-screen-text"  ng:bind:html="__player_object.settings.titles.title_success_with | trust_html"></div>
        <div ng:if="in_app_editor || this_attendee_draft.att_draft[0].report_attendee_details.status == 'Failed'" class="description-body redactor-styles title_failed_with select_texts result-screen-text-block result-screen-text"  ng:bind:html="__player_object.settings.titles.title_failed_with | trust_html"></div>
        <div class="quiz-grade">
           <div class="quiz-grade grade-score text-center">
               <h3 class="select_texts result-screen-score-text-block result-screen-score-text" ng:mouseover="show_hovred_element('select_texts')">{> __player_object.settings.label_btns.lbl_score_with <} : {> this_attendee_draft.att_draft[0].report_attendee_details.correct_answers  + "/" + __player_object.questions.length <}</h3>
           </div>
           <div ng:if="__player_object.settings.grade_settings.is_graded" class="quiz-grade grade-score text-center">
               <h5 class="select_texts result-screen-grade-text-block result-screen-grade-text" ng:mouseover="show_hovred_element('select_texts')">{> __player_object.settings.label_btns.lbl_grade_with <} : {> this_attendee_draft.att_draft[0].report_attendee_details.score | math_around_it <}%</h5>
           </div>
        </div>
        <div class="qusu-details text-right">
              <button ng:if="__player_object.settings.review_setting == true" ng:click="back_to_first_question()" class="button-take-this select_button review-result-box-block review-result-box" type="button" name="button">
                <i class="fa fa-reply-all" aria-hidden="true"></i>
                {> __player_object.settings.label_btns.lbl_review_with <}
              </button>
              <button  ng:if="__player_object.settings.retake_setting == true" ng:click="back_to_first_question()" class="button-take-this retake-this-quiz select_button retake-result-box-block retake-result-box" type="button" name="button">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                <span>
                {> __player_object.settings.label_btns.lbl_retake_with <}
                </span>
              </button>
         </div>
      </div>
  </div>
</div>

<!--
---------------------------------------------------------
=============================>>> Question  Screen => {> question <}
---------------------------------------------------------
-->
<div class="swiper-slide" ng:if="screen_type == 0">
  <!-- Question Container -->
  <div data-selected-block ="question-slide" class="container screen-container survey-player-questions question_typeco_object question_opg_editor_block select_box_brd question-screen-block question-screen-box">
      <div class="question-body load_qs_theme question_opg_editor select_box_brd question-box-block question-box-text">
         <span class="label-question default_theme_texts_bg select_box_brd question-label-block question-label-box">
           <span ng:if="__player_object.settings.indexes.questions == 0 " class="qs-numericals select_numbers">{> question_indexes.numberical[index_value] <}</span>
           <span ng:if="__player_object.settings.indexes.questions == 1 " class="qs-numericals select_numbers">{> question_indexes.alphabetical[index_value] | uppercase <}</span>
           <div class="arrow-right default_theme_brd select_box_brd  question-label-box-brd"></div>
         </span>
         <span class="question-body-text select_texts" ng:bind:html='question.question_body | trust_html'></span>
         <span class="required_option question_type__colr select_texts question-text-required-block question-text-required-text" ng:if="question.answer_settings.is_required == true"> Required </span>
      </div>
      <div ng:if="(question.question_type == 0 || question.question_type == 1 ) && question.answer_settings.single_choice == false" class="notes select_box_brd question-warnning-block question-warnning-box" >
          <span class="question_type__colr select_texts"> There're many correct choices , You've to select them  to pass this question </span>
      </div>
      <div data:ng:if="question.media_question != null" class="question-media" ng:class="(question.answer_settings.super_size)? 'super-size':''">
         <!-- Case : image type  -->
         <div data:ng:if="question.media_question.media_type == 0" class="image-media-case img-cases select_brd" ng:style="set_image_background(question.media_question.media_field)"></div>
         <!-- <div data:ng:if="question.media_question.media_type == 0" class="image-media-case img-cases" style="background-image:url('{> server_ip + question.media_question.media_field <}');"></div> -->
         <!-- Case : Video type -->
         <div data:ng:if="question.media_question.media_type == 1" class="video-media-case select_brd">{> question.media_question | set_iframe <}</div>
      </div>

      <!-- Answer container -->
      <div class="answer-container answer-block-selector">

        <ul id="question_{>question._id<}" ng:class="load_case_many_answer_option(question.question_type , question.answer_settings.single_choice)" class="question-list question-list-preview-quta" ng:if="question.question_type <= 2"> <!-- Question id , answer id  -->
              <li  class="answer_{>ansvalue._id<} answer_opg_editor select_box_brd question-answer-row-select-blk question-answer-row-select"
                       data:ng:class="classes_for_this_answer(question.answer_settings , question._id , ansvalue._id)"
                       data:ng:click="select_this_answer(question._id , ansvalue._id , question , ansvalue , __player_object._id , '{{user.id}}' , ansvalue.is_correct , $index)"
                       data:ng:repeat="(anskey , ansvalue) in question.answers_format">

                        <!-- Cases with question type-->
                          <!-- Case it 0 => Text choices -->
                          <div ng:if="question.question_type == 0" class="answer-contents">
                             <div ng:if="ansvalue.media_optional != null" class="media-options">
                                <!--  image case  -->
                                <div ng:if="ansvalue.media_optional.media_type == 0" ng:style="set_image_background(ansvalue.media_optional.media_src)"  class="image_case"></div>
                                <!-- <div ng:if="ansvalue.media_optional.media_type == 0" style="background-image:url('{>server_ip+ansvalue.media_optional.media_src<}')"  class="image_case"></div> -->
                                <!-- Video Cases -->
                                <div ng-bind-html="ansvalue.media_optional | set_iframe" ng:if="ansvalue.media_optional.media_type == 1"  class="video_case">
                                   <!-- Append answer media here -->
                                   Loading Media
                               </div>
                             </div>
                             <!-- Text values -->
                             <label ng:if="__player_object.settings.indexes.answers == 0 " class="labels select_box_brd answer_numbering_block answer_numbering_block_box">{> answer_indexes.numberical[$index]  <}</label>
                             <label ng:if="__player_object.settings.indexes.answers == 1 " class="labels select_box_brd answer_numbering_block answer_numbering_block_box">{> answer_indexes.alphabetical[$index] | uppercase <}</label>

                             <div class="text-values select_texts"> {> ansvalue.value | trust_this_html_values <} </div>
                             <!-- Case it wrong answer -->
                             <span class="answer-results-wrong select_box_brd">
                               <i class="fa fa-close"></i>
                             </span>
                             <!-- Case it right answer -->
                             <span class="answer-results-right select_box_brd">
                               <i class="fa fa-check"></i>
                             </span>
                          </div>
                          <!-- Case it 1 => Media choices -->
                          <div ng:if="question.question_type == 1" class="answer-contents">
                            <label ng:if="__player_object.settings.indexes.answers == 0 " class="labels select_box_data answer_numbering_block answer_numbering_block_box">{> answer_indexes.numberical[$index] <}</label>
                            <label ng:if="__player_object.settings.indexes.answers == 1 " class="labels select_box_data answer_numbering_block answer_numbering_block_box">{> answer_indexes.alphabetical[$index] | uppercase  <}</label>
                            <!-- Case it wrong answer -->
                            <span class="answer-results-wrong select_box_brd">
                              <i class="fa fa-close"></i>
                            </span>
                            <!-- Case it right answer -->
                            <span class="answer-results-right select_box_brd">
                              <i class="fa fa-check"></i>
                            </span>
                            <!--  Image Case  -->
                            <div ng:if="ansvalue.Media_directory == null || ansvalue.Media_directory == undefined" class="image_case no-media-here select_texts answer-text-box-area answer-text-box-area">
                              No Media here !
                            </div>
                            <div ng:if="ansvalue.media_type == 0 && ansvalue.Media_directory != null" ng:style="set_image_background(ansvalue.media_src )"  class="image_case select_box_brd"></div>
                            <!-- <div ng:if="ansvalue.media_type == null" style="background-image:url('{>ansvalue.media_src<}')"  class="image_case"></div> -->
                            <!--  Video Case  -->
                            <div ng-bind-html="ansvalue | set_iframe" ng:if="ansvalue.media_type == 1"  class="video_case select_box_brd">
                              <!-- Append answer media here -->
                              Loading Media
                            </div>
                          </div>
                          <!-- Case it 2 => True/false choices -->
                          <div ng:if="question.question_type == 2" class="answer-contents">
                            <label ng:if="__player_object.settings.indexes.answers == 0 " class="labels select_box_data answer_numbering_block answer_numbering_block_box">{> answer_indexes.numberical[$index] <}</label>
                            <label ng:if="__player_object.settings.indexes.answers == 1 " class="labels select_box_data answer_numbering_block answer_numbering_block_box">{> answer_indexes.alphabetical[$index] | uppercase  <}</label>
                            <!-- Case it wrong answer -->
                            <span class="answer-results-wrong select_box_brd">
                              <i class="fa fa-close"></i>
                            </span>
                            <!-- Case it right answer -->
                            <span class="answer-results-right select_box_brd">
                              <i class="fa fa-check"></i>
                            </span>
                            <div class="text-values select_texts answer-text-box-area answer-text-box-area-block">
                              {> ansvalue.boolean_value <}
                            </div>
                          </div>
             </li>
          </ul>
          <div class="answer-container survey-block" ng:if="question.question_type >= 3">
                   <div ng:if="(question.question_type == 3) && (question.answers_format[0].ratscal_type == 0)" class="block-of-scale">
                      <div class="survey-answer">
                        <div class="">
                          <center>
                            <div class="scale-optn" ng:if="question.answers_format[0].ratscal_type == 0 ">
                              <ul ng:init="rating_scale_elements" class="scalet-o ul_scal_{>question._id<}" >
                                <li data-index='0' ng:repeat="(key_ , val_) in rating_scale_elements"> <!-- index , class_name , answer_id , question_id , rs_type -->
                                  <span class="scale_value_{>question.answers_format[0]._id<}" ng:click="select_this_rating_value( $index , 'scale_value_'+question.answers_format[0]._id  , question.answers_format[0]._id , question._id , question.answers_format[0].ratscal_type )">
                                      {> $index + 1 <}
                                  </span>
                                </li>
                              </ul>
                              <div class="clearFix"></div>
                               <div class="block-labels text-center"  ng:show="question.answers_format[0].show_labels == true">
                                 <span class="first-lbl">
                                   {>question.answers_format[0].started_at <}
                                 </span>
                                 <span class="second-lbl">
                                   {>question.answers_format[0].centered_at <}
                                 </span>
                                 <span class="third-lbl">
                                   {>question.answers_format[0].ended_at <}
                                 </span>
                               </div>
                            </div>
                          </center>
                        </div>
                      </div>
                   </div>

                   <div ng:if="(question.question_type == 3) && (question.answers_format[0].ratscal_type == 1)" class="block-of-ratings">
                     <!-- Ratings  -->
                     <ul class="start-o rating_scale_block">
                       <!--  Ratings  -->
                       <li data-index='0' ng:repeat="(ratingscale_keys , ratingscale_vale) in rating_scale_elements track by $index">
                         <span ng:click="select_rating_scale__($index , 1 , question._id , question.answers_format[0]._id , question.question_type )" href="#">
                             <i class="fa fa-star-o"></i>
                         </span>
                       </li>
                     </ul>
                   </div>

                   <div ng:if="question.question_type == 4" class="block-of-fre-txts">
                     <!-- Case it 4 => Free texts -->
                     <textarea ng:change="free_texts_question_type_changes(question._id , question)" ng:model="question.answers_format[0].free_text_value" class="free-text-values" placeholder="Write your answer here !"></textarea>
                   </div>
          </div>



          <!-- End Answer container -->
           <div ng:if="__player_object.settings.auto_slide == true && question.question_type <= 2 && question.answer_settings.single_choice == true" class="question_notes question_type__colr select_box_brd answer-alarm-text answer-alarm-text-box">
               <span class="fa fa-info-circle"></span>
               <span class="select_texts ">Note : When you solve  this question the next one will come directly after few moments </span>
           </div>
           <div class="warning_case default_theme_texts_bg select_box_data warning-message-answer-box warning-message-answer question-label-box question-label-block" ng:click="go_to_not_attended_question()"></div>
           <div ng:if ="__player_object.settings.navigation_btns == true" class="qusu-details ques-questions text-right">
               <button ng:click="go_to_previouse_slide(question._id)" class="button-take-this select_button back-answer-question-button back-answer-question-button-block" ng:class="load_slide_theme(question.question_type)" type="button" name="button">
                     <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                     {> __player_object.settings.label_btns.lbl_back_with <}
               </button>
               <button ng:click="go_to_next_slide(question._id)" ng:class="load_slide_theme(question.question_type)" class="button-take-this select_button continue-answer-question-button continue-answer-question-button-block" type="button" name="button">
                   <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                   <span ng:if="$index != (__player_object.questions.length - 1)">{> __player_object.settings.label_btns.lbl_continue_with <}</span>
                   <span ng:if="$index == (__player_object.questions.length - 1)">{> __player_object.settings.label_btns.lbl_finish_with <}</span>
               </button>
           </div>

      </div>
  </div>
  <!-- End Question Container -->

</div>
